:root {
    --light-grayish-blue: hsl(210, 46%, 95%);
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --desaturated-dark-blue: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%);
    --white: #fff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
body {
    font-family: "Manrope", sans-serif;
    font-size: clamp(0.75rem, 1vw, 1rem);
}
.container {
    width: 85%;
    margin: 0 auto;
}
.row {
    display: flex;
}

h1 {
    font-weight: 700;
    margin-bottom: 10px;
}
.body-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--light-grayish-blue);
    min-height: 100vh;
}
.main {
    width: 80%;
    margin-block: 20px;
    max-width: 750px;
    border-radius: 10px;
    overflow: hidden;
    justify-content: space-between;
    background: var(--white);
    @media (min-width: 37.5em) {
        display: flex;
        margin-block: auto;        
    }
}
.main__img {
    @media (min-width: 37.5em) {
        width: 40%;
    }
}
.preview {
    @media (min-width: 37.5em) {
        width: 60%;
    }
}
.preview__content {
    margin-block: 20px;
}
.preview__txt {
    color: var(--desaturated-dark-blue);
}

.preview__footer {
    padding-block: 1.5em;
    width: 100%;
}
.author {
    display: flex;
    flex-grow: 1;
    gap: 20px;
    @media (max-width: 37.5em) {
        anchor-name: --author;
    }
}
.author-img {
    border-radius: 50px;
    height: 3em;
}
.author-name {
    font-weight: 500;
}
.date {
    opacity: 60%;
}
.share-btn {
    align-self: center;
    border-radius: 100px;
    aspect-ratio: 1;
    border: none;
    padding: 10px;
    margin-inline-start: auto;

    background: var(--light-grayish-blue);
    color: var(--desaturated-dark-blue);
    position: relative;
    @media (min-width: 37.5em) {
        anchor-name: --share-button;
    }
}
.dark-btn-bg {
    background: var(--desaturated-dark-blue);
    color: var(--white);
}
.dark-bg {
    background: var(--very-dark-grayish-blue);
    @media (min-width: 37.5em) {
        background: var(--white);
    }
}

.share-icons {   
    align-items: center;
    background: var(--very-dark-grayish-blue);
    color: var(--grayish-blue);
    gap: min(3vw, 25px);
    border: none;
    padding: 1em 0;
    letter-spacing: 8px;
    width: auto;

    position: absolute;

    position-anchor: --author;
    top: anchor(top);
    right: anchor(right);
    bottom: anchor(bottom);
    left: anchor(left);

    @media (min-width: 37.5em) {
        position-anchor: --share-button;
        gap: min(1vw, 15px);
        inset: auto;
        padding: 1em 2em;
        bottom: anchor(top);
        right: anchor(center);
        margin-block-end: 20px;
        transform: translateX(50%);
        border-radius: 10px;
        overflow: visible;
            
        &:after {
            content: '';
            position: absolute;
            right: calc(50% - 15px);
            bottom: -15px;
            border-bottom: none;
            border-inline: 15px solid transparent;
            border-top: 15px solid var(--very-dark-grayish-blue);
        }
    }
    &:popover-open{
        display: flex;
    }
}

footer {
    padding: 10px;
    font-size: max(0.69rem, 0.5vw);
}
